<div class="col-md-4 blog-main box text-center" id="post_<%= post.id%>">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title"><%= %><%= post.title %></h3>
		</div>
		<div class="panel-body">
          <p><%= post.content %></p>
			<div style="color: #3BB206;"><%= time_ago_in_words(post.created_at) %></div>
			<% if current_user && post.user_id == current_user.id %>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" data-toggle="modal" data-target="#myupdatepost_<%=post.id%>">Edit</button>
                <%= button_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"}, remote:true %>
              </div>
            <% end %>
		</div>
	</div>

	<%= form_for(post, :method => :put, remote: true) do |f| %>
    <div class="modal fade" id="myupdatepost_<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">

            <div class="field">
              <%= f.label :title %>
              <%= f.text_area :title, class: "form-control"%>
            </div>

            <div class="field">
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control"%>
            </div>
            <div class="field">
              <%= f.label :private %>
              <%= f.check_box :pvt, class: "form-control"%>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
            <%= submit_tag "Update", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>