<!DOCTYPE html>
<html>
<head>
  <title>Note Plus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
</br>
</br>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <% if current_user %>
        Hey <strong><%= current_user.name %></strong> <%= current_user.email%>
        </br>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>
</div>
</br>
</br>
<div>
  <%= yield %>
</div>
</body>
</html>